<div class="account-list ui-fluid">
    <div class="ui-g list-top">
        <div class="ui-g-4">
            <p-dataTable [value]="list" (onRowSelect)="onRowSelect($event)" dataKey="_id" selectionMode="single" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
                <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]='col.filter' [filterMatchMode]='col.filterMatchMode' [sortable]='col.sortable'></p-column>
            </p-dataTable>
        </div>
        <div class="ui-g-8" *ngIf="item">
            <p-tabView>
                <p-tabPanel [header]="res.account_account">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-3">
                            <span>{{res.account_username}}</span>
                            <input pInputText [(ngModel)]="item.username" />
                        </div>
                        <div class="ui-g-12 ui-lg-3">
                            <span>{{res.account_password}}</span>
                            <input pPassword type="password" [(ngModel)]="item.password" />
                        </div>
                        <div class="ui-g-12 ui-lg-3">
                            <span>{{res.account_email}}</span>
                            <input pInputText [(ngModel)]="item.email" />
                        </div>
                        <div class="ui-g-12 ui-lg-3">
                            <span>{{res.account_mobile}}</span>
                            <input pInputText [(ngModel)]="item.mobile" />
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-3">
                            <p-checkbox name="groupname" binary="true" [label]="res.account_group_user" [(ngModel)]="item.isUser"></p-checkbox>
                        </div>
                        <div class="ui-g-3">
                            <p-checkbox name="groupname" binary="true" [label]="res.account_group_operator" [(ngModel)]="item.isOperator"></p-checkbox>
                        </div>
                        <div class="ui-g-3">
                            <p-checkbox name="groupname" binary="true" [label]="res.account_group_manager" [(ngModel)]="item.isManager"></p-checkbox>
                        </div>
                        <div class="ui-g-3">
                            <p-checkbox name="groupname" binary="true" [label]="res.account_group_organization" [(ngModel)]="item.isOrganization"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g" *ngIf="item.isOperator || item.isUser">
                        <div class="ui-g-3" *ngIf="item.isOperator">
                            <p-checkbox binary="true" [label]="res.account_disabled" [(ngModel)]="item.disabled"></p-checkbox>
                        </div>
                        <div class="ui-g-3" *ngIf="item.isOperator">
                            <p-checkbox binary="true" [label]="res.account_sexPrevention" [(ngModel)]="item.sexPrevention"></p-checkbox>
                        </div>
                        <div class="ui-g-3" *ngIf="item.isUser">
                            <p-checkbox binary="true" [label]="res.account_blocked" [(ngModel)]="item.blocked"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g" *ngIf="item.isOperator || item.isOrganization">
                        <div class="ui-g-3" *ngIf="item.isOperator">
                            <span>{{res.account_price}}</span>
                            <input pInputText [(ngModel)]="item.price" />
                        </div>
                        <div class="ui-g-3" *ngIf="item.isOrganization">
                            <span>{{res.account_orgCode}}</span>
                            <input pInputText [(ngModel)]="item.orgCode" />
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="res.account_profile" *ngIf="item.profile">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_firstName}}</span>
                            <input pInputText [(ngModel)]="item.profile.firstName" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_lastName}}</span>
                            <input pInputText [(ngModel)]="item.profile.lastName" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_fatherName}}</span>
                            <input pInputText [(ngModel)]="item.profile.fatherName" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_birthDay}}</span>
                            <c-datepicker [(value)]="item.profile.birthDay"></c-datepicker>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_no}}</span>
                            <input pInputText [(ngModel)]="item.profile.no" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_placeOfIssues}}</span>
                            <input pInputText [(ngModel)]="item.profile.placeOfIssues" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_nationalCode}}</span>
                            <input pInputText [(ngModel)]="item.profile.nationalCode" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_birthPlace}}</span>
                            <input pInputText [(ngModel)]="item.profile.birthPlace" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_sex}}</span>
                            <p-dropdown [options]="sexes" [(ngModel)]="item.profile.sex._id" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_status}}</span>
                            <p-dropdown [options]="states" [(ngModel)]="item.profile.status._id" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_jobState}}</span>
                            <p-dropdown [options]="jobStates" [(ngModel)]="item.profile.jobState._id" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_religion}}</span>
                            <p-dropdown [options]="religions" [(ngModel)]="item.profile.religion._id" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_sect}}</span>
                            <p-dropdown [options]="sects" [(ngModel)]="item.profile.sect._id" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_reference}}</span>
                            <p-autoComplete [(ngModel)]="item.profile.reference" [suggestions]="references" (completeMethod)="onSearchReference($event)" field="caption"></p-autoComplete>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="res.account_contact" *ngIf="item.contact">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_house}}</span>
                            <input pInputText [(ngModel)]="item.contact.house" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_work}}</span>
                            <input pInputText [(ngModel)]="item.contact.work" />
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_country}}</span>
                            <p-autoComplete [(ngModel)]="item.contact.country" [suggestions]="countries" (completeMethod)="onSearchCountry($event)" (onSelect)="onSelectCountry($event)" field="caption"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_province}}</span>
                            <p-autoComplete [(ngModel)]="item.contact.province" [suggestions]="provinces" (completeMethod)="onSearchProvince($event)" (onSelect)="onSelectProvince($event)" field="caption"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_city}}</span>
                            <p-autoComplete [(ngModel)]="item.contact.city" [suggestions]="cities" (completeMethod)="onSearchCity($event)" field="caption"></p-autoComplete>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="res.account_education" *ngIf="item.education">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_grade}}</span>
                            <p-autoComplete [(ngModel)]="item.education.grade" [suggestions]="grades" (completeMethod)="onSearchGrade($event)" field="caption"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_major}}</span>
                            <p-autoComplete [(ngModel)]="item.education.major" [suggestions]="majors" (completeMethod)="onSearchMajor($event)" field="caption"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_university}}</span>
                            <p-autoComplete [(ngModel)]="item.education.university" [suggestions]="universities" (completeMethod)="onSearchUniversity($event)" field="caption"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-lg-3 ui-md-6">
                            <span>{{res.account_level}}</span>
                            <p-autoComplete [(ngModel)]="item.education.level" [suggestions]="levels" (completeMethod)="onSearchLevel($event)" field="caption"></p-autoComplete>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="res.account_extra" *ngIf="item.extra">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-6 ui-md-6">
                            <span>{{res.account_language}}</span>
                            <p-autoComplete [(ngModel)]="item.extra.language" [suggestions]="languages" (completeMethod)="onSearchLanguage($event)" [multiple]="true" field="caption"></p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-lg-6 ui-md-6">
                            <span>{{res.account_dialect}}</span>
                            <p-autoComplete [(ngModel)]="item.extra.dialect" [suggestions]="dialects" (completeMethod)="onSearchDialect($event)" [multiple]="true" field="caption"></p-autoComplete>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="res.account_upload">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p-fileUpload name="myfile[]" url="/upload" multiple="multiple" accept="image/*" [chooseLabel]="res.fileupload_chooseLabel" [uploadLabel]="res.fileupload_uploadLabel" [cancelLabel]="res.fileupload_cancelLabel"></p-fileUpload>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4">
            <button pButton type="button" icon="fa-plus" iconPos="right" [label]="res.action_new" (click)="onNew()"></button>
        </div>
        <div class="ui-g-8" *ngIf="item">
            <button pButton type="button" icon="fa-floppy-o" iconPos="right" [label]="res.action_save" (click)="onSave()"></button>
            <button pButton type="button" icon="fa-trash-o" iconPos="right" [label]="res.action_delete" (click)="onRemove()"></button>
            <button pButton type="button" icon="fa-times" iconPos="right" [label]="res.action_cancel" (click)="clear()"></button>
        </div>
    </div>
</div>
