<div>
    <h1>Account list {{currentUser}}</h1>

    <div class="col-md-6 col-md-offset-3">
        <h1>Home</h1>
        <p>You're logged in with JWT!!</p>
        <h3 class="first">Basic</h3>
        <p-dataTable [value]="list" (onRowSelect)="onRowSelect($event)" dataKey="_id" selectionMode="single">
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
        </p-dataTable>
        <p-tree [value]="treeData" selectionMode="checkbox" [(selection)]="selectedItems"></p-tree>
        <input id="in" pInputText [(ngModel)]="item.username" />
        <button pButton type="button" label="Save" (click)="onSave()"></button>
        <button pButton type="button" label="Delete" (click)="onRemove()"></button>
        <button pButton type="button" label="New" (click)="onNew()"></button>

        <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
</div>
