<!--<p-carousel [value]="items">
    <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12"><span>{{item.description}}</span></div>
            </div>
        </div>
    </ng-template>
</p-carousel>-->
<div class="welcome-page outer">
    <div class="inner">
        <div class="ui-g">
            <div class="ui-g-12"><img src="/resources/carousel/01.jpg" /></div>
        </div>
        <div class="ui-g">
            <div class="welcom-top">
                <span class="fa fa-quote-right"></span>
                <span>
                    فرهنگ ایرانی دارای سابقة کهن و درخشان است. از آنجا که غنا و عمق هر فرهنگی تا حد زیادی بسته به قدمت آن فرهنگ می‌باشد، فرهنگ ایرانی با سابقه‌ای طولانی و در مواجهه با تنگناهای گوناگون آبدیده شده و استحکام لازم را به‌دست آورده است. اطمینان ایرانی از زیربنای فرهنگی خود باعث شده که او از زمان تشکیل اولین امپراتوری جهان به دست خود تاکنون، از طرح فرهنگ‌های دیگر در کنار فرهنگ خود نهراسد. بدین ترتیب، فرهنگ ایرانی از تجربیات فرهنگی دیگران، استفاده کرده و به رشد و ترقی خود ادامه داده است.
                </span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <span>
                    یرانیان در مواجهه با فرهنگ اسلامی نیز، به همین شیوه عمل نمودند. آن‌ها هنگامی که از اصول و ویژگی‌های انسان‌دوستانه و مترقی فرهنگ اسلامی آگاهی پیدا کردند، آن را با آغوش باز پذیرفتند. با گرایش ایرانیان به فرهنگ اسلامی، بر روی ریشه و شجرة طیبه توصیه ــ به عنوان محور فرهنگ اسلامی ــ درختی تنومند به‌وجود آمد که باعث شد فرهنگ و تمدن اسلامی در سراسر جهان گسترش یابد.
                </span>
            </div>
            <div class="ui-g-4">
                <span>
                    یرانیان در مواجهه با فرهنگ اسلامی نیز، به همین شیوه عمل نمودند. آن‌ها هنگامی که از اصول و ویژگی‌های انسان‌دوستانه و مترقی فرهنگ اسلامی آگاهی پیدا کردند، آن را با آغوش باز پذیرفتند. با گرایش ایرانیان به فرهنگ اسلامی، بر روی ریشه و شجرة طیبه توصیه ــ به عنوان محور فرهنگ اسلامی ــ درختی تنومند به‌وجود آمد که باعث شد فرهنگ و تمدن اسلامی در سراسر جهان گسترش یابد.
                </span>
            </div>
            <div class="ui-g-4">
                <span>
                    یرانیان در مواجهه با فرهنگ اسلامی نیز، به همین شیوه عمل نمودند. آن‌ها هنگامی که از اصول و ویژگی‌های انسان‌دوستانه و مترقی فرهنگ اسلامی آگاهی پیدا کردند، آن را با آغوش باز پذیرفتند. با گرایش ایرانیان به فرهنگ اسلامی، بر روی ریشه و شجرة طیبه توصیه ــ به عنوان محور فرهنگ اسلامی ــ درختی تنومند به‌وجود آمد که باعث شد فرهنگ و تمدن اسلامی در سراسر جهان گسترش یابد.
                </span>
            </div>
        </div>
    </div>
</div>


