<div style="width:1000px;">
    <div class="carousel">
        <ul class="slides">
            <li>
                <h2>We are covered</h2>
                <img alt="" src="resources/carousel/01.jpg">
            </li>
            <li>
                <h2>Generation Gap</h2>
                <img alt="" src="resources/carousel/02.jpg">
            </li>
            <li>
                <h2>Potter Me</h2>
                <img alt="" src="resources/carousel/03.jpg">
            </li>
            <li>
                <h2>Pre-School Kids</h2>
                <img alt="" src="resources/carousel/04.jpg">
            </li>

        </ul>
    </div>
</div>

<div>
    <div class="ui-g">
        <div class="ui-g-12">
            <c-datepicker></c-datepicker>
        </div>
    </div>
</div>

