<div class="bootstrap-iso">
    <h1>Roles</h1>

    <div class="col-md-6 col-md-offset-3">
        <h3 class="first">Roles</h3>
        <p-dataTable [value]="list" (onRowSelect)="onRowSelect($event)" dataKey="_id" selectionMode="single">
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
        </p-dataTable>
        <input id="in" pInputText [(ngModel)]="item.name" />
        <button pButton type="button" label="Save" (click)="onSave()"></button>
        <button pButton type="button" label="Delete" (click)="onRemove()"></button>
        <button pButton type="button" label="New" (click)="onNew()"></button>

    </div>
</div>
