<div>
    <!--<nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav navbar-right'>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/account-list']">Account List</a></li>
            </ul>
        </div>
    </nav>-->
    <div>
        <button class="nav-toggle">Menu</button>
        <nav class="sideNav">
            <ul>
                <li>jsfhjdfhfghdf</li>
                <li>sefsgdfg</li>
                <li>dfdsgdfgxfgfg</li>
            </ul>
        </nav>
    </div>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>
