<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <p-breadcrumb [model]="_items"></p-breadcrumb>
    </div>
</div>
<div class="department-list">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 department-grid">
            <p-dataGrid [value]="list">
                <ng-template let-listItem pTemplate="listItem">
                    <div class="ui-g-12 ui-md-3">
                        <div class="department-panel" *ngIf="listItem.type != 'new'">
                            <div class="department-header">
                                {{listItem.caption}}
                            </div>
                            <div class="department-description">{{listItem.description}}</div>
                            <div class="department-btn">
                                <i class="fa fa-sitemap" (click)="go(listItem)" style="cursor:pointer"></i>
                                <i class="fa fa-pencil" (click)="onRowSelect(listItem)" style="cursor:pointer"></i>
                            </div>
                        </div>
                        <div class="department-panel-new" *ngIf="listItem.type == 'new'">
                            <div class="department-header-new">
                                <div class="department-title">{{res.department_new}}</div>
                            </div>
                            <div class="department-new">
                                <i class="fa fa-plus" (click)="onNew()" style="cursor:pointer"></i>
                            </div>
                            <div class="department-btn" *ngIf="_chain.length">
                                <i class="fa fa-external-link" (click)="back()" style="cursor:pointer"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataGrid>
        </div>
    </div>
    <p-dialog [header]="res.department_title" *ngIf="item" [(visible)]="item">
        <div class="ui-g">
            <div class="ui-g-12">
                <div>{{res.department_caption}}</div>
                <input pInputText [(ngModel)]="item.caption" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <div>{{res.department_description}}</div>
                <textarea class="department-description-edit" pInputTextarea [(ngModel)]="item.description"></textarea>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <button pButton type="button" icon="fa-floppy-o btn-custom" iconPos="right" [label]="res.action_save" (click)="onSave()"></button>
                <button pButton type="button" icon="fa-trash-o btn-custom" iconPos="right" [label]="res.action_delete" (click)="onRemove()"></button>
            </div>
        </div>
    </p-dialog>
</div>
