<div class="account-list">
    <div class="ui-g account-list-top ui-fluid">
        <div class="ui-g-12">
            <p-dataGrid [value]="list">
                <ng-template let-listItem pTemplate="listItem">
                    <div style="padding:3px" class="ui-g-12 ui-md-3">
                        <p-panel [header]="listItem.caption" [style]="{'text-align':'center','font-family':'Yekan','font-size':'18px','font-weight':'bold'}">
                            <div style="font-family: Yekan; font-size: 18px;">{{listItem.caption}}</div>
                            <i class="fa fa-search" (click)="selectCar(car)" style="cursor:pointer"></i>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
        </div>
    </div>
    <div class="ui-g account-list-bottom">
        <div class="ui-g-4">
            <button pButton type="button" icon="fa-plus" iconPos="right" [label]="res.action_new" (click)="onNew()"></button>
        </div>
        <div class="ui-g-8">
            <button pButton type="button" icon="fa-floppy-o" iconPos="right" [label]="res.action_save" (click)="onSave()"></button>
            <button pButton type="button" icon="fa-trash-o" iconPos="right" [label]="res.action_delete" (click)="onRemove()"></button>
        </div>
    </div>
</div>
