<div class="discount-list ui-fluid">
    <div class="ui-g list-top">
        <div class="ui-g-6">
            <p-dataTable [value]="list" (onRowSelect)="onRowSelect($event)" dataKey="_id" selectionMode="single" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
                <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]='col.filter' [filterMatchMode]='col.filterMatchMode' [sortable]='col.sortable'></p-column>
            </p-dataTable>
        </div>
        <div class="ui-g-6" *ngIf="item">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_owner}}</span>
                    <input pInputText [(ngModel)]="item.owner" />
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_category}}</span>
                    <div class="bootstrap-iso">
                        <ngx-dropdown-treeview
                            [config]="dropdownTreeviewConfig"
                            [items]="categoryItems">
                        </ngx-dropdown-treeview>
                        <input pInputText [(ngModel)]="item.category" />
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_price}}</span>
                    <input pInputText [(ngModel)]="item.price" />
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_count}}</span>
                    <input pInputText [(ngModel)]="item.count" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_cover}}</span>
                    <input pInputText [(ngModel)]="item.cover" />
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_state}}</span>
                    <p-dropdown [options]="states" [(ngModel)]="item.state._id" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_beginDate}}</span>
                    <c-datepicker [(value)]="item.beginDate"></c-datepicker>
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_expireDate}}</span>
                    <c-datepicker [(value)]="item.expireDate"></c-datepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <button pButton type="button" icon="fa-plus" iconPos="right" [label]="res.action_new" (click)="onNew()"></button>
        </div>
        <div class="ui-g-6" *ngIf="item">
            <button pButton type="button" icon="fa-floppy-o" iconPos="right" [label]="res.action_save" (click)="onSave()"></button>
            <button pButton type="button" icon="fa-trash-o" iconPos="right" [label]="res.action_delete" (click)="onRemove()"></button>
            <button pButton type="button" icon="fa-times" iconPos="right" [label]="res.action_cancel" (click)="clear()"></button>
        </div>
    </div>
</div>
