<div class="discount-list ui-fluid">
    <div class="ui-g list-top">
        <div class="ui-g-6">
            <p-dataTable [value]="list" (onRowSelect)="onRowSelect($event)" dataKey="_id" selectionMode="single" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)">
                <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]='col.filter' [filterMatchMode]='col.filterMatchMode' [sortable]='col.sortable'></p-column>
            </p-dataTable>
        </div>
        <div class="ui-g-6" *ngIf="item">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div>{{res.discount_owner}}</div>
                    <p-autoComplete [(ngModel)]="item.owner" [suggestions]="accounts" (completeMethod)="onSearchAccount($event)" [multiple]="false" field="username"></p-autoComplete>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <span>{{res.discount_category}}</span>
                    <div class="bootstrap-iso">
                        <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
                            <div class="form-check">
                                <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
                                    [class.fa-caret-down]="!item.collapsed"></i>
                                <label (click)="select(item)">{{ item.text }}</label>
                            </div>
                        </ng-template>
                        <ng-template #headerTemplate let-config="config" let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange"
                            let-onFilterTextChange="onFilterTextChange">
                            <div *ngIf="config.hasFilter" class="row row-filter">
                                <div class="col-12">
                                    <input class="form-control" type="text" [placeholder]="i18n.getFilterPlaceholder()" [(ngModel)]="filterText" (ngModelChange)="onFilterTextChange($event)"
                                    />
                                </div>
                            </div>
                            <div *ngIf="config.hasAllCheckBox || config.hasCollapseExpand" class="row">
                                <div class="col-12">
                                    <label *ngIf="config.hasAllCheckBox" (click)="select(item)">
                                        <strong>{{ i18n.getAllCheckboxText() }}</strong>
                                    </label>
                                    <label *ngIf="config.hasCollapseExpand" class="pull-right" (click)="onCollapseExpand()">
                                        <i [title]="i18n.getTooltipCollapseExpandText(item.collapsed)" aria-hidden="true"
                                            class="fa" [class.fa-expand]="item.collapsed" [class.fa-compress]="!item.collapsed"></i>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="config.hasDivider" class="dropdown-divider"></div>
                        </ng-template>
                        <ngx-dropdown-treeview [config]="dropdownTreeviewConfig" [headerTemplate]="headerTemplate" [items]="categoryItems" [itemTemplate]="itemTemplate">
                        </ngx-dropdown-treeview>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_price}}</span>
                    <input pInputText [(ngModel)]="item.price" />
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_count}}</span>
                    <input pInputText [(ngModel)]="item.count" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_total}}</span>
                    <input pInputText [(ngModel)]="item.total" readonly />
                </div>
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_used}}</span>
                    <input pInputText [(ngModel)]="item.used" readonly />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-12">
                    <span>{{res.discount_state}}</span>
                    <p-dropdown [options]="states" [(ngModel)]="item.state._id" (onChange)="onStateSelect($event)" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6">
                    <span>{{res.discount_beginDate}}</span>
                    <c-datepicker [(value)]="item.beginDate"></c-datepicker>
                </div>
                <div class="ui-g-12 ui-lg-6" *ngIf="item && item.state && item.state.value == 'limited'">
                    <span>{{res.discount_expireDate}}</span>
                    <c-datepicker [(value)]="item.expireDate"></c-datepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <button pButton type="button" icon="fa-plus" iconPos="right" [label]="res.action_new" (click)="onNew()"></button>
        </div>
        <div class="ui-g-6" *ngIf="item">
            <button pButton type="button" icon="fa-floppy-o" iconPos="right" [label]="res.action_save" (click)="onSave()"></button>
            <button pButton type="button" icon="fa-trash-o" iconPos="right" [label]="res.action_delete" (click)="onRemove()"></button>
            <button pButton type="button" icon="fa-times" iconPos="right" [label]="res.action_cancel" (click)="clear()"></button>
        </div>
    </div>
</div>
