/*
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    margin: 5px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
*/

body,
.ui-widget,
.ui-widget input {
    font-family: Tahoma;
    font-size: 14px;
}

h1,
h2,
h3 {
    font-family: 'Yekan';
}

.bootstrap-iso {
    font-family: Nazanin, Tahoma;
}


/*================================
rtl fa
==================================*/

.ui-breadcrumb-chevron:before {
    content: "\F053";
}

.ui-breadcrumb {
    font-family: 'Yekan';
    font-weight: bold;
    height: 25px;
    color: gray;
}

.ui-menuitem-text {
    color: gray;
}


/*=================================
menu
===================================*/

.ui-widget-header {
    border: 0px;
}

.ui-tabview-nav,
.ui-column-title,
.ui-button-text,
.bootstrap-iso .navbar-nav li,
.bootstrap-iso .dropdown-menu>li>a,
.navbar-brand {
    font-family: Yekan, Tahoma;
    font-weight: bold;
}

.bootstrap-iso .dropdown-menu li {
    text-align: right;
}

.bootstrap-iso .navbar-brand {
    font-size: 30px;
}

.bootstrap-iso .navbar-nav li {
    font-size: 14px;
}

.ui-fluid .ui-button {
    /* width: 100%; */
    width: auto;
    min-width: 90px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ui-tree .ui-treenode-children {
    margin: 0;
    padding: 0 1em 0 0;
}

.ui-treenode-content .fa-caret-right:before {
    content: "\F0D9";
}

.ui-tabview .ui-tabview-nav li {
    float: right;
}

.account-list .ui-tree-container {
    height: 250px;
    overflow-y: scroll;
    display: block;
}

.list-top {
    height: 450px;
}

.fa {
    vertical-align: middle;
}


/*===========================
signin
=============================*/

.signin-panel {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0px 50px 30px 50px;
    margin-top: 100px;
}


/*===========================
 continer
=============================*/

.container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 9.5px;
    margin: 60px 0 21px;
}


/*==========================
grid
============================*/

.fa-step-forward:before {
    content: "\F048";
}

.fa-forward:before {
    content: "\F04A";
}

.fa-backward:before {
    content: "\F04E";
}

.fa-step-backward:before {
    content: "\F051";
}


/*================================
carousel
==================================*/

.carousel {
    overflow: hidden;
    width: 100%;
}

.slides {
    list-style: none;
    position: relative;
    width: 500%;
    /* Number of panes * 100% */
    overflow: hidden;
    /* Clear floats */
    /* Slide effect Animations*/
    -moz-animation: carousel 30s infinite;
    -webkit-animation: carousel 30s infinite;
    animation: carousel 30s infinite;
}

.slides>li {
    position: relative;
    float: left;
    width: 20%;
    /* 100 / number of panes */
}

.carousel img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.carousel h2 {
    margin-bottom: 0;
    font-size: 1em;
    padding: 1.5em 0.5em 1.5em 0.5em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

@keyframes carousel {
    0% {
        left: -5%;
    }
    11% {
        left: -5%;
    }
    12.5% {
        left: -105%;
    }
    23.5% {
        left: -105%;
    }
    25% {
        left: -205%;
    }
    36% {
        left: -205%;
    }
    37.5% {
        left: -305%;
    }
    48.5% {
        left: -305%;
    }
    50% {
        left: -405%;
    }
    61% {
        left: -405%;
    }
    62.5% {
        left: -305%;
    }
    73.5% {
        left: -305%;
    }
    75% {
        left: -205%;
    }
    86% {
        left: -205%;
    }
    87.5% {
        left: -105%;
    }
    98.5% {
        left: -105%;
    }
    100% {
        left: -5%;
    }
}


/*===============================
dropdown
=================================*/

.ui-dropdown-trigger-rtl {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 1.5em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 .05em;
}

.ui-dropdown-label-rtl {
    display: block;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    padding-left: 1.5em;
}


/*=============================
department
===============================*/

.department-list .ui-dialog {
    width: 600px;
}

.department-panel {
    padding: 5px;
    position: relative;
    height: 150px;
    border-right: 5px solid gray;
    background-color: whitesmoke;
    color: gray;
}

.department-header {
    font-family: 'Yekan';
    font-size: 20px;
    font-weight: bold;
}

.department-description {
    font-family: 'Nazanin';
    font-size: 16px;
}

.department-btn {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.department-panel-new {
    padding: 5px;
    position: relative;
    height: 150px;
    border-right: 5px solid gray;
    background-color: #d4d4d4;
    color: gray;
}

.department-header-new {
    position: absolute;
    top: 10px;
    right: 10px;
}

.department-header-new .department-title {
    font-family: 'Yekan';
    font-weight: bold;
    font-size: 20px;
}

.department-header-new .department-detail {
    font-family: 'Nazanin';
    font-size: 14px;
}

.department-new {
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
}

.department-grid .ui-datagrid-content {
    border: 0px;
}

.department-description-edit {
    width: 220px;
    height: 100px;
}

.department-list .ui-dialog-titlebar {
    color: gray;
    font-family: 'Yekan';
    font-size: 20px;
    font-weight: bold;
}


/*===================================
Welcome
=====================================*/

.outer {
    width: 100%;
}

.inner {
    display: table;
    margin: 0 auto;
    width: 1010px;
}
/*===================================
ng2-tag-input
=====================================*/
.ng2-tag-input-remove {
    margin-left: -6px !important;
    margin-right: 6px !important;
}

.ng2-tag-input-field {
    font-family: "tahoma" !important;
}

rl-tag-input-item {
    margin-bottom: 2px;
}

rl-tag-input {
    overflow-y: scroll;
    height: 100px;
}
